[user]
	name = Daisuke Hashimoto
	email = galapagosit@gmail.com
[color]
  ui = true
[core]
  #editor = /opt/local/bin/vi
  excludesfile = ~/.gitignore_global
[alias]
	co = checkout
	st = status
	df = diff
[push]
	default = matching
