[user]
	name = Daisuke Hashimoto
	email = d_hashimoto@binc.jp
[color]
  ui = true
[core]
  #editor = /opt/local/bin/vi
  excludesfile = ~/.gitignore_global
[alias]
	co = checkout
	st = status
	df = diff
